<!-- disabled_link.html - Migrado -->
<li class="sidebar-nav-item has-dropdown">
    <button type="button" class="sidebar-nav-link dropdown-toggle" aria-expanded="false">
        Widgets
        <span class="dropdown-icon">
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </span>
    </button>
    <ul class="sidebar-dropdown">
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="#">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Widget 1</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="#">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Widget 2</span>
            </a>
        </li>
        <li class="sidebar-dropdown-divider"></li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="#">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Widget 3</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="#">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Widget 4</span>
            </a>
        </li>
    </ul>
</li>