<!-- disabled_link.html -->
<li class="m360-dropdown">
    <button type="button" class="m360-sidebar-nav-link" data-m360-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Widgets
    </button>
    <ul class="m360-dropdown-menu">
        <!-- Widget 1 -->
        <li><a class="m360-dropdown-item" href="#">Widget 1</a></li>

        <!-- Widget 2 -->
        <li><a class="m360-dropdown-item" href="#">Widget 2</a></li>

        <!-- Divider -->
        <li class="m360-dropdown-sep"></li>

        <!-- Widget 3 -->
        <li><a class="m360-dropdown-item" href="#">Widget 3</a></li>

        <!-- Widget 4 -->
        <li><a class="m360-dropdown-item" href="#">Widget 4</a></li>
    </ul>
</li>
