{% load static %}
<span class="m360-dropdown m360-dropend">
  <button type="button" data-m360-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Credit Account">
    <i class="bi bi-coin"></i>
    {% if user.creditaccount.balance %}
      <span class="m360-badge m360-badge-primary">{{ user.creditaccount.balance }}</span>
    {% else %}
      <span class="m360-badge m360-badge-primary">0</span>
    {% endif %}
  </button>
  <ul class="m360-dropdown-menu m360-dropdown-menu-end">
    <li class="m360-dropdown-header">
      <span>Credit Account</span>
      <a href="#" class="m360-badge m360-badge-primary" style="margin-left:var(--m360-space-2);">Manage</a>
    </li>
    <li class="m360-dropdown-sep"></li>
    <li class="m360-dropdown-item">
      <span>💳</span>
      <span>Recharge Credits</span>
    </li>
    <li class="m360-dropdown-sep"></li>
    <li class="m360-dropdown-item">
      <span>🔁</span>
      <span>Transfer Credits</span>
    </li>
    <li class="m360-dropdown-sep"></li>
    <li class="m360-dropdown-item">
      <span>🧾</span>
      <span>Transaction History</span>
    </li>
    <li class="m360-dropdown-sep"></li>
    <li class="m360-dropdown-footer"><a href="#">More credit options</a></li>
  </ul>
</span>
