{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% if messages %}

{% include 'layouts/includes/alert.html' %}

{% endif %}
<div class="pagetitle">
    <h1>{{page_title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'events:task_panel' %}">Tasks</a></li>
            <li class="breadcrumb-item active">{{page_title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                {% include 'tests/chart_time.html' %}
                {% include 'tests/chart_report.html' %}
                {% include 'tests/chart_bar.html' %}
                {% include 'tests/chart_trend.html' %}
                {% include 'tests/table.html' %}

            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

            {% if instructions %}
            {% include 'includes/information/info_links_card.html' %}
            {% endif %}

            {% include 'includes/information/info_acordeon.html' %}
            {% include 'tasks/includes/task_recent_activity.html' %}

        </div><!-- End Right side columns -->

    </div>
</section>

{% endblock %}



