{% extends "courses/base.html" %}

{% block course_content %}
<div class="content-manager-layout">
    {% include "courses/includes/conditional_sidebar.html" %}

    <main class="content-main">
        {% block cms_content %}
        {% endblock %}
    </main>

    {% if user.is_authenticated %}
    <!-- Panel Lateral -->
    <div class="content-panel">
        {% include "courses/includes/content_manager_create_panel.html" %}
    </div>
    {% endif %}

    <!-- Modal de Vista Previa -->
    {% include "courses/includes/content_manager_modal.html" %}
</div>
{% endblock %}