{% load icon_tags %}
<li class="m360-sidebar-nav-item" role="none">
    <a class="m360-sidebar-nav-link" href="{% url 'help:help_home' %}" role="menuitem">
        {% icon 'question-circle' %}
        <span>Help Center</span>
    </a>
</li><!-- End Help Center Nav -->

<li class="m360-sidebar-nav-item" role="none">
    <a class="m360-sidebar-nav-link" href="{% url 'help:category_list' %}" role="menuitem">
        {% icon 'tags' %}
        <span>Categories</span>
    </a>
</li><!-- End Categories Nav -->

<li class="m360-sidebar-nav-item" role="none">
    <a class="m360-sidebar-nav-link" href="{% url 'help:search' %}" role="menuitem">
        {% icon 'search' %}
        <span>Search Help</span>
    </a>
</li><!-- End Search Help Nav -->
