<li class="sidebar-nav-item has-dropdown">
    <button type="button" class="sidebar-nav-link dropdown-toggle" aria-expanded="false">
        <i class="fas fa-user-gear"></i><span>Account</span><span class="dropdown-icon"><i class="fas fa-chevron-down"></i></span>
    </button>
    <ul id="accounts-nav" class="sidebar-dropdown">
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'accounts' %}">
                <i class="fas fa-circle"></i><span>My Account</span>
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'password_change' %}">
                <i class="fas fa-circle"></i><span>Change Password</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'logout' %}">
                <i class="fas fa-circle"></i><span>Log Out</span>
            </a>
        </li>
        {% endif %}
    </ul>
</li>
