<li class="sidebar-nav-item has-dropdown">
    <button type="button" class="sidebar-nav-link dropdown-toggle" aria-expanded="false">
        <i class="fas fa-gear" aria-hidden="true"></i>
        <span>Configuration</span>
        <span class="dropdown-icon">
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </span>
    </button>
    <ul id="configuration-nav" class="sidebar-dropdown">
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'events:status' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Status Panel</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'events:status_create' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Status Create</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'events:status_edit_no_model' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Status Edit</span>
            </a>
        </li>
    </ul>
</li>