{% load icon_tags %}
<li class="m360-sidebar-nav-item">
    <button type="button" class="m360-sidebar-nav-link" aria-expanded="false" data-m360-target="#configuration-nav" data-m360-toggle="collapse" data-m360-tooltip="Configuration">
        {% icon 'gear' %}<span>Configuration</span><span class="m360-ml-auto m360-collapse-icon">{% icon 'chevron-down' %}</span>
    </button>
    <ul id="configuration-nav" class="m360-sidebar-nav-group m360-collapse" data-m360-parent="#sidebar-nav">
        <!-- Crear nueva tipificación -->
        <li class="m360-sidebar-nav-item">
            <a class="m360-sidebar-nav-link" href="{% url 'events:status' %}">
                {% icon 'circle' %}<span>Status Panel</span>
            </a>
        </li>

        <!-- Gestionar classificationes -->
        <li class="m360-sidebar-nav-item">
            <a class="m360-sidebar-nav-link" href="{% url 'events:status_create' %}">
                {% icon 'circle' %}<span>Status Create</span>
            </a>
        </li>

        <!-- Divider -->
        <li class="m360-dropdown-sep" role="separator" aria-hidden="true"></li>

        <!-- Crear nuevo estado -->
        <li class="m360-sidebar-nav-item">
            <a class="m360-sidebar-nav-link" href="{% url 'events:status_edit_no_model' %}">
                {% icon 'circle' %}<span>Status Edit</span>
            </a>
        </li>
    </ul>
</li><!-- End configuration Nav -->
