<li class="sidebar-nav-item has-dropdown">
    <button type="button" class="sidebar-nav-link dropdown-toggle" aria-expanded="false">
        <i class="fas fa-user-circle" aria-hidden="true"></i>
        <span>Currículum</span>
        <span class="dropdown-icon">
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
        </span>
    </button>
    <ul id="cv-nav" class="sidebar-dropdown">
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'cv:cv_detail' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Mi Perfil</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'cv:cv_edit' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Editar Perfil</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'cv:docsview' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Documentos</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'cv:document_upload' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Documento</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'cv:image_upload' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Imagen</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'cv:upload_db' %}">
                <i class="fas fa-circle" aria-hidden="true"></i>
                <span>Base de Datos</span>
            </a>
        </li>
    </ul>
</li>