<li class="sidebar-nav-item">
    <a class="sidebar-nav-link" href="{% url 'help:help_home' %}">
        <i class="fas fa-circle-question"></i>
        <span>Help Center</span>
    </a>
</li>
<li class="sidebar-nav-item">
    <a class="sidebar-nav-link" href="{% url 'help:category_list' %}">
        <i class="fas fa-tags"></i>
        <span>Categories</span>
    </a>
</li>
<li class="sidebar-nav-item">
    <a class="sidebar-nav-link" href="{% url 'help:search' %}">
        <i class="fas fa-magnifying-glass"></i>
        <span>Search Help</span>
    </a>
</li>
