<li class="sidebar-nav-item has-dropdown">
    <button type="button" class="sidebar-nav-link dropdown-toggle" aria-expanded="false">
        <i class="fas fa-list-check"></i>
        <span>Tasks</span>
        <span class="dropdown-icon">
            <i class="fas fa-chevron-down"></i>
        </span>
    </button>
    <ul id="tasks-nav" class="sidebar-dropdown">
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'events:tasks' %}">
                <i class="fas fa-list-ul"></i>
                <span>All Tasks</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'events:task_panel' %}">
                <i class="fas fa-gauge-high"></i>
                <span>Task Panel</span>
            </a>
        </li>

        {% if user.is_authenticated %}
        <li class="sidebar-nav-item has-dropdown">
            <button type="button" class="sidebar-nav-link dropdown-toggle" aria-expanded="false">
                <i class="fas fa-gear"></i>
                <span>Task Actions</span>
                <span class="dropdown-icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </button>
            <ul id="task-actions-nav" class="sidebar-dropdown">
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link" href="{% url 'events:task_create' %}">
                        <i class="fas fa-circle-plus"></i>
                        <span>Create Task</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link" href="{% url 'events:task_edit_no_id' %}">
                        <i class="fas fa-pencil"></i>
                        <span>Edit Task</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link" href="{% url 'events:task_activate_no_id' %}">
                        <i class="fas fa-circle-play"></i>
                        <span>Activate Task</span>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}

        <li class="sidebar-nav-item">
            <a class="sidebar-nav-link" href="{% url 'events:task_export' %}">
                <i class="fas fa-download"></i>
                <span>Export Tasks</span>
            </a>
        </li>
    </ul>
</li>
