{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<!-- Mensajes de confirmación y éxito -->
{% if messages %}
<div class="m360-alert m360-alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
</div>
{% endif %}

<div class="m360-page-header">
    <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="m360-row">
        <!-- Left side columns -->
        <div class="m360-col">
            <div class="m360-row">

            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="m360-col">

        </div><!-- End Right side columns -->

    </div>
</section>

{% endblock %}