{% extends 'layouts/base.html' %}

{% block content %}
<div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'events:status' %}">Status</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<!-- Mensajes de confirmación y éxito -->
{% if messages %}
<div id="message-container" class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
</div>
{% endif %}
<section class="section">
    <div class="row">

        {% if form %}

		{% include 'includes/information/info_links_card.html' %}

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Form</div>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Guardar
                        </button>
                    </form>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>


        {% else %}

		{% include 'includes/information/info_links_card.html' %}

        {% endif %}

    </div>
</section>


{% endblock %}