<div class="m360-card-body">
    <div class="m360-tabs">
        <ul class="m360-tabs-list events-justify-center" id="borderedTabJustified" role="tablist">
            {% for event_data in active_events %}
            <li class="m360-tabs-item events-flex-1" role="presentation">
                <button class="m360-tabs-trigger {% if forloop.first %}m360-tabs-trigger-active{% endif %} events-w-100" 
                        id="{{event_data.event.id}}-tab"
                        data-m360-toggle="tab" 
                        data-m360-target="#bordered-justified-{{event_data.event.id}}" 
                        type="button" role="tab"
                        aria-controls="{{event_data.event.id}}"
                        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                    {{event_data.event.title}}
                </button>
            </li>
            {% endfor %}
        </ul>

        <div class="m360-tabs-content" id="borderedTabJustifiedContent">
            {% for event_data in active_events %}
            <div class="m360-tabs-panel {% if forloop.first %}m360-tabs-panel-active{% endif %}" id="bordered-justified-{{event_data.event.id}}"
                 role="tabpanel" aria-labelledby="{{event_data.event.id}}-tab">
                {% include 'events/includes/event_card.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
